sudo: false
os: linux
language: python

git:
  depth: 1

env:
  global: TERM=dumb

matrix:
  include:
    - env: Python=2.4
      language: generic
      addons:
        apt:
          sources:
            - sourceline: 'ppa:fkrull/deadsnakes'
          packages:
            - python2.4
            - python2.4-dev
            - python-virtualenv=1.7.1.2-1
      before_install: . .travis/setup_virtualenv.sh '2.4'
    - env: Python=2.5
      language: generic
      addons:
        apt:
          sources:
            - sourceline: 'ppa:fkrull/deadsnakes'
          packages:
            - python2.5
            - python2.5-dev
            - python-virtualenv=1.7.1.2-1
      before_install: . .travis/setup_virtualenv.sh '2.5'
    - python: "2.6"
    - python: "2.7"
    - env: Python=3.1
      language: generic
      addons:
        apt:
          sources:
            - sourceline: 'ppa:fkrull/deadsnakes'
          packages:
            - python3.1
            - python3.1-dev
            - python-virtualenv=1.7.1.2-1
      before_install: . .travis/setup_virtualenv.sh '3.1'
    - python: "3.2"
    - python: "3.3"
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    - python: "nightly"
    - python: "pypy"
    - python: "pypy-5.3.1"
    - python: "pypy3"

    - env: Python=2.7 (macOS)
      os: osx
      language: generic
  allow_failures:
    - os: osx
  fast_finish: true

install:
  - .travis/setup_dependencies.sh

script:
  - .travis/run_codecov.sh 'pycompatlayer.py'

after_success:
  # Upload results
  - if [[ $TRAVIS_PYTHON_VERSION != '2.5' && $TRAVIS_PYTHON_VERSION != '2.4' ]]; then codecov; else bash <(curl -s https://codecov.io/bash); fi
