sudo: false
language: python

git:
  depth: 1

env:
  global: TERM=dumb

matrix:
  include:
    - os: linux
      env: Python=2.4
      language: generic
      addons:
        apt:
          sources:
            - sourceline: 'ppa:fkrull/deadsnakes'
          packages:
            - python2.4
            - python-virtualenv
      before_install: . .travis/setup_virtualenv.sh '2.4'
    - os: linux
      python: "2.6"
    - os: linux
      python: "2.7"
    - os: linux
      python: "3.2"
    - os: linux
      python: "3.3"
    - os: linux
      python: "3.4"
    - os: linux
      python: "3.5"
    - os: linux
      python: "3.6"
    - os: linux
      python: "nightly"
    - os: linux
      python: "pypy"
    - os: linux
      python: "pypy-5.3.1"
    - os: linux
      python: "pypy3"
    - os: osx
      language: generic
      env: TOXENV=py-default
  allow_failures:
    - os: osx
  fast_finish: true

install:
  - .travis/setup_dependencies.sh

script:
  - .travis/run_codecov.sh 'pycompatlayer.py'

after_success:
  # Upload results
  - if [[ $TRAVIS_PYTHON_VERSION != '2.4' ]]; then codecov; else bash <(curl -s https://codecov.io/bash); fi
